        <section id="features" class="service-one">
            <div class="container">
                <div class="block-title text-center">
                    <p>Our App Feature Lists</p>
                    <h3>Piloz Great Features</h3>
                </div>
                <div class="row">
                    <div class=" col-xl-3 col-lg-3 col-md-6 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="service-one__single">
                            <div class="service-icon">
                                <div class="icon-box">
                                    <i class="piloz-writing"></i>
                                </div>
                            </div>
                            <div class="text">
                                <h3>Easy to edit</h3>
                                <p>Lorem ipsum is are many variations of pass majy.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms"
                        data-wow-delay="100ms">
                        <div class="service-one__single">
                            <div class="service-icon icon-bg-2">
                                <div class="icon-box icon-box-bg-2">
                                    <i class="piloz-shield"></i>
                                </div>
                            </div>
                            <div class="text">
                                <h3>Fully secure</h3>
                                <p>Lorem ipsum is are many variations of pass majy.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-3 col-md-6 wow fadeInDown" data-wow-duration="1500ms"
                        data-wow-delay="200ms">
                        <div class="service-one__single">
                            <div class="service-icon icon-bg-3">
                                <div class="icon-box icon-box-bg-3">
                                    <i class="piloz-user"></i>
                                </div>
                            </div>
                            <div class="text">
                                <h3>Manage user</h3>
                                <p>Lorem ipsum is are many variations of pass majy.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-3 col-lg-3 col-md-6 wow fadeInRight" data-wow-duration="1500ms"
                        data-wow-delay="300ms">
                        <div class="service-one__single">
                            <div class="service-icon icon-bg-4">
                                <div class="icon-box icon-box-bg-4">
                                    <i class="piloz-gear"></i>
                                </div>
                            </div>
                            <div class="text">
                                <h3>Free trial</h3>
                                <p>Lorem ipsum is are many variations of pass majy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
